body {
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--black-color);
  opacity: 0.3;
  display: none;
}

.overlay--active {
  display: block;
}
